:root {


--btn-ff: var(--ff-roboto);

--btn-main-bg-cl: transparent;
--btn-main-shadow: none;
--btn-main-cl: inherit;

--btn-primary-normal-bg-cl: var(--cl-white);
--btn-primary-normal-shadow: inset 0 0 0 2px var(--cl-black);
--btn-primary-normal-cl: var(--cl-black);

--btn-primary-focus-bg-cl: var(--cl-white);
--btn-primary-focus-shadow: inset 0 0 0 4px var(--cl-black);
--btn-primary-focus-cl: var(--cl-black);

--btn-primary-hover-bg-cl: var(--cl-gray);
--btn-primary-hover-shadow: inset 0 0 0 2px var(--cl-black), 0 4px var(--cl-black);
--btn-primary-hover-cl: var(--cl-black);


--btn-secondary-normal-bg-cl: var(--cl-green);
--btn-secondary-normal-shadow: inset 0 0 0 2px var(--cl-black);
--btn-secondary-normal-cl: var(--cl-black);

--btn-secondary-focus-bg-cl: var(--cl-green);
--btn-secondary-focus-shadow: inset 0 0 0 4px var(--cl-black);
--btn-secondary-focus-cl: var(--cl-black);

--btn-secondary-hover-bg-cl: var(--cl-dark-green);
--btn-secondary-hover-shadow: inset 0 0 0 2px var(--cl-black), 0 4px var(--cl-black);
--btn-secondary-hover-cl: var(--cl-black);


--btn-disabled-bg-cl: var(--cl-white);
--btn-disabled-shadow: inset 0 0 0 2px var(--cl-gray);
--btn-disabled-cl: var(--cl-gray);


}