// ===============================================
// GRID VARIABLES
// ===============================================


// COLS
// -----------------------------------------------

$columns: 12;

// -----------------------------------------------
// COLS


// GAPS
// -----------------------------------------------

$columns-gutter-x: 12px;
$columns-gutter-y: 0;

// -----------------------------------------------
// GAPS

