:root {


--navbar-link-main-normal-cl: var(--cl-black);

--navbar-link-main-normal-bg-cl: var(--cl-white);

--navbar-btn-cl: var(--cl-black);

--navbar-btn-normal-bg-cl: var(--cl-white);
--navbar-btn-hover-bg-cl: var(--cl-green);

//--navbar-btn-focus-bg-cl: var(--cl-white);
//--navbar-btn-focus-cl: var(--cl-black);



}