.btn {
	@include btn();

	padding-right: 32px;
	padding-left: 32px;
	background-color: var(--btn-bg-cl);
	box-shadow: var(--btn-shadow);
	color: var(--btn-cl);
	width: var(--w);
	border-radius: 8px;
	height: 56px;
	font-weight: 700;
	transition: background-color .2s ease, box-shadow .2s ease;

	&:focus {
		outline: none;
	}

	&--primary {
		--btn-bg-cl: var(--btn-primary-normal-bg-cl);
		--btn-shadow: var(--btn-primary-normal-shadow);
		--btn-cl: var(--btn-primary-normal-cl);

		&:focus {
			--btn-bg-cl: var(--btn-primary-focus-bg-cl);
			--btn-shadow: var(--btn-primary-focus-shadow);
			--btn-cl: var(--btn-primary-focus-cl);
		}

		&:hover {
			--btn-bg-cl: var(--btn-primary-hover-bg-cl);
			--btn-shadow: var(--btn-primary-hover-shadow);
			--btn-cl: var(--btn-primary-hover-cl);
		}
	}

	&--secondary {
		--btn-bg-cl: var(--btn-secondary-normal-bg-cl);
		--btn-shadow: var(--btn-secondary-normal-shadow);
		--btn-cl: var(--btn-secondary-normal-cl);

		&:focus {
			--btn-bg-cl: var(--btn-secondary-focus-bg-cl);
			--btn-shadow: var(--btn-secondary-focus-shadow);
			--btn-cl: var(--btn-secondary-focus-cl);
		}

		&:hover {
			--btn-bg-cl: var(--btn-secondary-hover-bg-cl);
			--btn-shadow: var(--btn-secondary-hover-shadow);
			--btn-cl: var(--btn-secondary-hover-cl);
		}
	}

	&--xs {
		height: 40px;
		padding-right: 16px;
		padding-left: 16px;
	}

	&.btn--disabled,
	&:disabled {
		pointer-events: none;

		--btn-bg-cl: var(--btn-disabled-bg-cl);
		--btn-shadow: var(--btn-disabled-shadow);
		--btn-cl: var(--btn-disabled-cl);
	}
}