.header {
	display: flex;
	justify-content: space-between;
	padding-top: 24px;
	padding-bottom: 24px;
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	background: var(--cl-white);

	&__title {
		font-size: 32px;
		font-weight: 700;
	}
	&__btn {
		margin-left: 12px;
	}
}