// ===============================================
// МНОГОСЛОЙНЫЙ КОНТЕНТ
// ===============================================


.layered-content {
	display: grid;

	&__item {
		grid-row-start: 1;
		grid-row-end: 1;
		grid-column-start: 1;
		grid-column-end: 1;
	}
}
