.link {
	text-decoration: none;
	color: var(--cl-black);
	display: inline-block;

	&__text {
		background-image: linear-gradient(180deg, transparent 65%, var(--cl-green) 0);
		background-size: 0 86%;
		background-repeat: no-repeat;
		transition: background-size .4s ease;

		&:hover {
			background-size: 100% 86%;
		}
	}

	&--active {
		.link__text {
			background-size: 100% 86%;
		}
	}
}