.navbar {
	padding-top: 24px;
	padding-bottom: 24px;

	&__list {
		--navbar-link-cl: var(--navbar-link-main-normal-cl);
		--navbar-link-bg-cl: var(--navbar-link-main-normal-bg-cl);
	}

	&__item {
		padding-right: 8px;
		padding-left: 8px;

		+ .navbar__item {
			padding-top: 8px;
		}
	}

	&__link,
	&__btn {
		font-weight: 900;
	}

	&__link {
		padding: 8px 4px;
		font-size: 20px;
	}

	&__btn {
	}
}