.popup {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: var(--ca-black-40);
	z-index: 1;

	&__dialog {
		margin: 120px auto;
		max-width: 600px;
		background-color: var(--cl-white);
		border-radius: 8px;
		box-shadow: 0 0 0 2px var(--cl-black);
	}

	&__header {
		display: flex;
		justify-content: space-between;
		padding: 24px;
		border-bottom: 2px solid var(--cl-gray);
	}

	&__title {
	}

	&__btn {
		margin-left: 12px;
	}

	&__body {
		padding: 24px;
	}

	&__footer {
		padding: 24px;
		display: flex;
		justify-content: flex-end;
		border-top: 2px solid var(--cl-gray);
	}

	&--right,
	&--left {
		background-color: transparent;
		position: relative;

		.popup__dialog {
			position: absolute;
			margin-top: 0;
			margin-bottom: 0;
		}

		.popup__header {
			border-bottom: none;
		}

		.popup__footer {
			border-top: none;
		}
	}

	&--right {
		.popup__dialog {
			left: 0;
			margin-left: 12px;
		}
	}

	&--left {
		.popup__dialog {
			right: 0;
			margin-right: 12px;
		}
	}
}